


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-color: whitesmoke;  
    font-family: 'Tangerine',sans-serif;
        
    
}

h1 {
    display: flex;
}


img {
    width: 100px;
}

/*container and heading*/
.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
	color: red;
	
}

/*score panel*/
.score-panel {
    text-align: left;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
}

.fa-star {
    color: lawngreen;
}

.timer {
    display: inline-block;
    margin: 0 2 rem;
}

/* The modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
 
    

}

/*modal  content*/
.modal-content {
    text-align: center;
    position: relative;
    background-color: #fefefe;
    color: #5cb85c;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;   
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

}



/*add animation*/
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/*collapse the button*/
.close {
    color: blue;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;

}

.modal-header {
    
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}


/* memory game*/
.memory-game {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

/*cards*/
.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% -10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .3s;

}


.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);

}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
    border: 2px silver;
}

.front {
    transform: rotateY(180deg);
}


/*modal*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: skyblue;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: hidden;
    opacity: 1;
}

.popup {
    margin: 60px auto;
    padding: 20px;
    background-color: slategray;
    border-radius: 5px;
    width: 85%;
    position: relative;
    transition: all 5s ease-in-out;

}

.popup h3 {
    margin-top: 0;
    color: steelblue;

}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: teal;
    color: #000;
}

.popup .close:hover {
    color: tomato;
}

.popup .content-1,
.content-2 {
    max-height: 30%;
    overflow: auto;
    text-align: center;
}

.show {
    visibility: visible !important;
    opacity: 100 !important;
}

#starRating li {
    display: inline-block;
}

#play-again {
    background-color: turquoise;
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    display: block;
    margin: 0 auto;
    width: 50%;
    color: #000;
    border-radius: 5px;
}
/*resize screen*/

@media only screen and (max-width: 700px) {
    .memory-game {
        width: 100%;
        height: 50%;
    } 
    .container{
        font-size: smaller;
    }
    header {
        text-align: center;
    }
    h1 {
        font-size: 1rem;
    }
}